@use "../global/variables";

body {
  font-size: 125%;

}

.wrapper {
  max-width: 80%;
  margin: 0 auto;

}

html {
  font-family: 'Kumar One', cursive, 'Kumar One Outline', cursive;
  font-weight: lighter;
}

h1,
h2 {
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 32px;
  font-family: "Lato";
}

button {
  background: variables.$button-color;
  color: variables.$primary-color;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  font-family: variables.$secondary-header-font;
  font-weight: bold;
  border: none;
  text-align: center;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}