@use "../global/variables";

body {
  font-size: 125%;

}

.wrapper {
  max-width: 80%;
  margin: 0 auto;

}

html {
  font-family: 'Kumar One', cursive, 'Kumar One Outline', cursive;
  font-weight: lighter;
}

h1,
h2 {
  text-transform: uppercase;
}
