
// Colors

$primary-color: #F5F5F5;
$secondary-color: #EDFDDF;
$font-primary: #151514;
$box-shading: #F8FB05;
$button-color: #065635;


// Fonts
$main-header-font: "Kumar One Outline, cursive";
$secondary-header-font: "Kumar One, cursive";
$h1-size: 3.4rem;
$h2-size: 1.65rem;

