@use "../global/variables";

.discover-section {
background: variables.$primary-color;

}

.discover-section .wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.discover-text {
  padding-right: 300px;
    p {
      font-size: 1rem;
      line-height: 30px;
      font-family: "lato, Regular";
    
    }
}

.discover-img img {
  // width: 300px;
}