@use "../global/variables";


.homepage-header {
  background: variables.$primary-color;
  background-image: url(../assets/header-home.jpg);
  background-size: contain;
  padding-bottom: 750px;
  background-repeat: no-repeat;
  
  

}

.homepage-header  .wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 3.4rem;
  width: 20%;
  padding: 0 0 0 15%;
  
}

.homepage-header nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  
  
    li {
      padding: 0 40px 0 40px;
      color: variables.$font-primary;
      
        a {
          text-decoration: none;
          color: #151514;
            &:hover,
            &:focus  {
              border-bottom: 3px solid #F8FB05;
            }
        }
    }
  
}

header .header-img {
  position: absolute;
  left: -5px;
  bottom: -20px;
}